<?xml version="1.0" encoding="UTF-8"?>

<web-app>
<servlet>
<servlet-name>InscrpServlet</servlet-name>
<servlet-class>InscrpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>InscrpServlet</servlet-name>
<url-pattern>/InscrptServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AjouServlet</servlet-name>
<servlet-class>AjouServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AjouServlet</servlet-name>
<url-pattern>/AjouServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SuppServlet</servlet-name>
<servlet-class>SuppServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SuppServlet</servlet-name>
<url-pattern>/SupprServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MisServlet</servlet-name>
<servlet-class>MisServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MisServlet</servlet-name>
<url-pattern>/MiseServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>GestServlet</servlet-name>
<servlet-class>GestServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>GestServlet</servlet-name>
<url-pattern>/GesServlet</url-pattern>
</servlet-mapping>


</web-app>

